<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Gitlab OAuth</title>
   
    <style>
        body{ 
          padding-top:70px; 
          margin:auto;
        }
        h1{
          text-align:center;
          margin:auto;
          margin-top:20px;
        }
        h2{
          text-align:center;
          margin:auto;
          margin-top:20px;
          font-size:18px;
        }
        .container{
          width:700px;
          height:auto;
          background-color:none;
          border: 1px solid #8510d8;
          margin:auto;
          padding-bottom:50px;
        }
        input{
          margin:auto;
          position:relative;
          left:320px;
          top:20px;
          background-color:#8510d8;
          color:white;
          border:none;
          padding:10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h1><span></span> Gitlab OAuth</h1>
        <form method="post" action="/login">
            <h2>Logga in via gitlab</h2>
                
                <input type="submit" value="logg in"/>
            
            </form>
    </div>
</div>
</body>
</html> 